<div id="search-block">
  <%= form_tag :action => :list_doc %>
    <%= text_field_tag 'query', @query, :size => 40 %>
    <%= submit_tag "Search Document" %>
  <%= end_form_tag %>
</div>

<%= render :partial => 'doc_list', :object => @docs %>